<div class=disaster-donation>
  <div class="title">DISASTER DONATION</div>
  <div class="disaster-list" *ngFor="let disaster of disasterArray">
    <span class="disaster-info">
      Troy, NY
    </span>
    <span class="disaster-info">
      Shirley Hurricane Category 10
    </span>
    <div class="charity-donate">
      <span>
          <button class="donate-button" (click)="goToLink()">DONATE NOW</button>
        </span>
        <div class="charities-section">
          <div class="charity-dropdwn">
              <div class="charity-inp">
                  <button class="charity" (click)="displayCharity()">{{charityDisplay}}</button>
                  <div class="dropdown" *ngIf="showCharities">
                      <p *ngFor="let charity of disaster.charities" (click)="changeCharityDisplay(charity)">{{charityDisplay}}</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>

